<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>

<html>

<head>

    <title>Portfolio</title>
</head>

<body>
    <h1> About Me</h1>
    <p>Hey there! I'm John Smith, a seasoned web developer with a knack for problem-solving and a passion for clean,
        efficient code.<br>
        I hold a degree in Computer Science from University of Michigan, where I honed my skills in web development and
        learned the latest industry technologies.<br>
        With 20 years of experience under my belt, I've worked on a diverse range of projects, from small business
        websites to large-scale web applications.<br>
        My skill set includes proficiency in HTML, CSS, JavaScript, and various frameworks like Rails and Django. <br>
        I thrive in collaborative environments and am always eager to tackle new challenges head-on.</p>
</body>

</html>